<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="URI" value="10.0.40.87:7003"/>
    <add key="URI_PERFORMANCE" value="10.1.117.218:5526"/>-->
    <!--<add key="URI" value="10.72.2.68"/>-->
    <!--<add key="URI" value="10.9.184.28:7002"/>
    <add key="URI_PERFORMANCE" value="10.9.184.22:5567"/>-->
    <!--<add key="URI" value="10.72.2.61:7003"/>
    <add key="URI_PERFORMANCE" value="10.72.2.54:5526"/>-->
    <!--<add key="URI" value="127.0.0.1:7101"/>-->
    <!--<add key="URI" value="10.170.3.71:7003"/>-->
    <!--<add key="URI" value="10.21.52.36:7002"/>-->
    <!--<add key="URI" value="10.21.52.21:7002"/>-->
    <!--<add key="URI" value="10.21.52.48:7002"/>
    <add key="URI_PERFORMANCE" value="10.21.50.242:5526"/>-->
    <add key="URI" value="10.137.5.110:7003"/>
    <add key="URI_PERFORMANCE" value="10.137.6.87:5527"/>
    <!--<add key="URI" value="10.1.5.86:7003"/>-->  
    <!--<add key="URI" value="10.137.5.110:7003"/>-->
    <!--<add key="URI" value="10.170.3.66:7003"/>
    <add key="URI_PERFORMANCE" value="10.170.16.40:5526"/>-->
    <!--<add key="URI" value="10.9.0.72:7002"/>-->
    <!--<add key="DMUC" value="uid=DMUC;pwd=dmuc;Data Source=CMIS_VH_DTAP;"/>
    <add key="HOPDONG" value="uid=HOPDONG;pwd=hopdong;Data Source=CMIS_VH_DTAP;"/>
    <add key="CHISO" value="uid=CHISO;pwd=chiso;Data Source=CMIS_VH_DTAP;"/>
    <add key="HDONPSINH" value="uid=HDONPSINH;pwd=hdonpsinh;Data Source=CMIS_VH_DTAP;"/>-->
    <add key="MAX_THREAD" value="1000"/>
    <add key="MAX_CPU" value="70"/>
    <add key="MAX_RAM" value="32"/>
    <add key="DMUC" value="uid=DMUC;pwd=DMUCDB27;Data Source=CMIS3PB;"/>
    <add key="HOPDONG" value="uid=HOPDONG;pwd=HOPDONGDB27;Data Source=CMIS3PB;"/>
    <add key="CHISO" value="uid=CHISO;pwd=CHISODB27;Data Source=CMIS3PB;"/>
    <add key="HDONPSINH" value="uid=HDONPSINH;pwd=HDONPSINHDB27;Data Source=CMIS3PB;"/>
  </appSettings>
</configuration>

