<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URI" value="10.0.40.87:7003"/>
    <!--<add key="URI" value="10.1.11.108:7001"/>-->
    <add key="MAXTHREAD" value="15"/>
    <add key="GETDATA" value="1"/>
    <add key="SOCKET_URI" value="http://10.5.40.41:9000"/>
    <add key="DMUC" value="uid=DMUC;pwd=DMUCDB27;Data Source=CMIS3TEST;"/>
    <add key="HOPDONG" value="uid=HOPaDONG;pwd=HOPDONGDB27;Data Source=CMIS3TEST;"/>
    <add key="CHISO" value="uid=CHISO;pwd=CHISODB27;Data Source=CMIS3TEST;"/>
    <add key="HDONPSINH" value="uid=HDONPSINH;pwd=HDONPSINHDB27;Data Source=CMIS3TEST;"/>
  </appSettings>
</configuration>